@{
    ViewData["Title"] = "Home Page";
}

<script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

</script>

<div class="text-center">
    <h1 class="display-4">Welcome To Our Calendar App!</h1>
    <div id='calendar'></div>
</div>

<div class="row">
    <div class="col-md-6">
        <a href="/Event"><h3>Events</h3></a>
    </div>
    <div class="col-md-6">
        <a href="/Location"><h3>Locations</h3></a>
    </div>
</div>
